.form-floating > label {
  color: #6c757d;
}

.form-control.ng-invalid.ng-touched,
.form-select.ng-invalid.ng-touched,
.textarea.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
}
