<section style="color: #000; ">
  <div class="container mt-5 px-4 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Testimonials</h3>
        <p class="lead">
          Dear Customers,
          Thank you for choosing HA-Renovation for your projects.
          We hope you are delighted with the results and trust us to have brought your vision to life.
          Your happiness remains our top priority.
          Please don't hesitate to reach out if you require any further assistance. Thanks again!

        </p>
      </div>
    </div>

    <div class="row g-2 g-lg-3 text-center">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="card fixed-height-card">
          <div class="card-body py-4 mt-2">
            <h5 class="font-weight-bold">Basanta B Ghimire</h5>
            <h6 class="font-weight-bold my-3">Basement, Kitchen and Bathroom Renovation & Remodeling</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>Full satisfaction with HA-Renovation's work on my basement, kitchen,
              and bathroom. Professional,
              skilled, and delivered fantastic results! <i class=" fas fa-quote-right p-2"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="card fixed-height-card">
          <div class="card-body py-4 mt-2">
            <h5 class="font-weight-bold">Nabin Pokharel</h5>
            <h6 class="font-weight-bold my-3">Basement Renovation & Living Space Transformations with Paint</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>HA-Renovation delivered amazing basement and living space
              transformations with paint,
              providing fully satisfying and comprehensive service.<i class=" fas fa-quote-right p-2"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="card fixed-height-card">
          <div class="card-body py-4 mt-2">
            <h5 class="font-weight-bold">Bimal Basnet</h5>
            <h6 class="font-weight-bold my-3">Renovation </h6>

            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>

            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>I am extremely satisfied with the comprehensive and high-quality of
              service.If you need a full condo renovation,I highly recommend HA-Renovation.<i
                class="fas fa-quote-right p-2"></i>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="card fixed-height-card">
          <div class="card-body py-4 mt-2">

            <h5 class="font-weight-bold">Raju Baral</h5>
            <h6 class="font-weight-bold my-3">Roofing, Flooring, Deck and fence</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>HA-Renovation's roofing, flooring, deck, and fence are fantastic,
              built with genuine products and
              materials – highly recommend! <i class=" fas fa-quote-right p-2"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="card fixed-height-card">
          <div class="card-body py-4 mt-2">

            <h5 class="font-weight-bold">Surendra Regmi</h5>
            <h6 class="font-weight-bold my-3">Flooring & Washroom</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>HA-Renovation delivered excellent flooring and washroom renovations
              using genuine products and materials,
              leaving me completely satisfied. <i class=" fas fa-quote-right p-2"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="card fixed-height-card">
          <div class="card-body py-4 mt-2">

            <h5 class="font-weight-bold">Mahesh khanal</h5>
            <h6 class="font-weight-bold my-3">Basement, Kitchen and Bathroom Renovation</h6>
            <ul class="list-unstyled d-flex justify-content-center">
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-info"></i>
              </li>

            </ul>
            <p class="mb-2">
              <i class="fas fa-quote-left pe-2"></i>Provided exceptional renovations for my basement,
              including two new washrooms, and my kitchen, utilizing genuine products and materials throughout the
              process,
              leading to results that I highly recommend to anyone seeking quality home improvements. <i
                class=" fas fa-quote-right p-2"></i>
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>